<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.selenium.test.create_Account"/>
      <class name="com.selenium.test.verify_profile_cart_amount"/>
      <class name="com.selenium.test.signIn_payment"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
